<div class="jumbotron">
    <h1>iS3</h1>
    <p class="lead">The concept of infrastructure Smart Service System ( iS3) is proposed based on digitization techniques and integrated 
	construction and maintenance of infrastructure. iS3 is a smart service system designed for 
	integration of lifecycle data acquisition，processing, representation, analysis and service of infrastructure.</p>
    <p><a href="https://github.com/iS3-Project" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>iS3 Server</h2>
        <p>iS3-Server offers some basic functions for common use in infrastructure engineering. 
		The functionalities implemented in the system include data querying and saving, geospatial analysis functions, 
		and structure analysis functions.</p>
        <p><a class="btn btn-default" href="https://github.com/iS3-Project/iS3-Server">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>iS3 Core</h2>
        <p>Coming soon...</p>
        <p><a class="btn btn-default" href="https://github.com/iS3-Project">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>iS3 Extension</h2>
        <p>Coming soon...</p>
        <p><a class="btn btn-default" href="https://github.com/iS3-Project">Learn more &raquo;</a></p>
    </div>
</div>
